@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <label class="layui-form-label">统计时间</label>
            <input type="text" class="layui-input layui-input-inline" id="tjdate" />
            <a class="layui-btn search_btn" onclick="Search()">搜索</a>
        </div>
    </form>
</blockquote>

<table class="layui-hide" id="dt" lay-filter="test"></table>

<script>
    var element = layui.element,
        table = layui.table,
        laypage = layui.laypage,
        form = layui.form,
        upload = layui.upload,
        laydate = layui.laydate;

    table.render({
        elem: '#dt',
        url: '/WorkProjectScaleInfo/GetPageData',
        title: '投产项目信息统计',
        height: 'full-155',
        cols: [[
            { type: 'checkbox', fixed: 'left' },
            { field: 'Year', title: '年度', sort: true, fixed: 'left' },
            { field: 'Month', title: '月份', sort: true, },
            { field: 'VolLevel', title: '电压等级' },
            { field: 'PNumber', title: '项目数量', sort: true },
            { field: 'CircuitNum', title: '线路回数', sort: true },
            { field: 'TableNum', title: '主变台数', sort: true },
              {
                field: 'Length', title: '线路长度', sort: true,
                templet: function (res) {
                    var str = "";
                    if (res.VolLevel == "当月规模占年度比例" || res.VolLevel == "1-当月规模占年度比例") {
                        str = res.Volume + "%";
                    } else {
                        str = res.Volume;
                    }

                    return str;
                }
            },
            {
                field: 'Volume', title: '变电容量', sort: true,
                templet: function (res) {
                    var str = "";
                    if (res.VolLevel == "当月规模占年度比例" || res.VolLevel == "1-当月规模占年度比例") {
                        str = res.Volume + "%";
                    } else {
                        str = res.Volume;
                    }
                    return str;
                }
            },
            { field: 'AvgRate', title: '平均值', sort: true }
        ]],
        page: true
    });

    //头工具栏事件
    table.on('toolbar(dt)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            case 'LAYTABLE_EXPORT':
                var data = checkStatus.data;
                if (data && data.length == 0) {
                    data = table.cache["dt"];
                }
                table.exportFile(obj.config.id, data,'xls');
                break;
        };
    });

    layui.use('laydate', function () {
        laydate.render({ elem: "#tjdate", format: 'yyyy-MM', type: 'month', trigger: 'click', theme: '#393D49', calendar: true });
    });

    function Search() {
        table.reload("dt", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
                Month: $("#tjdate").val()  //搜索的关键字
            }
        })
    }
</script>
