@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/kindeditor/kindeditor-all.js"></script>
<script src="~/lib/kindeditor/zh-CN.js"></script>
<link href="~/lib/kindeditor/themes/default/default.css" rel="stylesheet" />

<style>
    .layui-table-cell {
        overflow: visible;
    }

    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .form-control {
        width: 150px !important;
    }
</style>

<script>
    var layer;
    var element = layui.element,
        table = layui.table,
        laypage = layui.laypage,
        form = layui.form,
        upload = layui.upload,
        laydate = layui.laydate;

    var tableData = [];
    var isLoaded = false;
    var result = { code: 0, msg: "请至少选择一行数据！" };

    layui.use('layer', function () {
        layer = layui.layer;
    });

    $(function () {
        layuiTable.init();
    });

    var layuiTable = {
        init: function () {
            //文件上传按钮渲染
            var uploadbutton = KindEditor.uploadbutton({
                button: KindEditor('#KUpLoad')[0],
                fieldName: 'file',
                //简单限制上传文件类型
                accept: ".doc,.docx,.xls,.xlsx,.ppt,.htm,.html,.txt,.zip,.rar,.gz,.bz2,.pdf",
                url: '/File/UploadFile?savepath=Excels',
                afterUpload: function (data) {
                    if (data && data.Status == 1) {
                        LoadExcelData(data.Value);
                    }
                },
                afterError: function (str) {
                }
            });
            uploadbutton.fileBox.change(function (e) {
                var fileVal = uploadbutton.fileBox.val();
                var fileArr = fileVal.split("\\");
                var fileName = fileArr[fileArr.length - 1];
                $("#excelFile").val(fileName);

                uploadbutton.submit();
            });
            //隐藏生成的kindEditor按钮
            uploadbutton.hide();
            //其他按钮去触发input:file的上传事件
            $("#btnFileUpLoad").on("click", function () {
                uploadbutton.click();
            });

            $("#btnFileDownLoad").on("click", function () {
                var $eleForm = $("<form method='get'></form>");
                $eleForm.attr("action", "./Files/MouldFiles/驾驶员黑名单导入模板.xls");
                $(document.body).append($eleForm);

                //提交表单，实现下载
                $eleForm.submit();
            });
        },
    };

    function LoadExcelData(fileName) {
        if (fileName == null || fileName == "") {
            return false;
        }
        var url = '/ProjectPlanInfo/PresentExcelData?fileName=' + fileName;

        layui.use(['table', 'form'], function () {
            table.render({
                elem: '#dt',
                url: url,
                title: '项目里程碑计划',
                height: 'full-175',
                cols: [[
                    { align: 'center', rowspan: 2, checkbox: true, fixed: 'left', title: '' },
                    { align: 'center', rowspan: 2, field: 'LineId', width: 120, title: '项目编码', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'Province', width: 120, title: '省公司', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'Company', width: 120, title: '建设单位', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'CLevel', width: 120, title: '电压等级', templet: '#selectCLevel' },
                    { align: 'center', rowspan: 2, field: 'ProjectName', width: 120, title: '项目名称', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'Catagory', width: 150, title: '项目建设类别', templet: '#selectCatagory' },
                    { align: 'center', rowspan: 2, field: 'PType', width: 150, title: '单项工程类型', templet: '#selectPType' },
                    { align: 'center', rowspan: 2, field: 'Nature', width: 120, title: '建设性质', templet: '#selectNature' },
                    { colspan: 2, align: 'center', title: '计划性质' },
                    { colspan: 2, align: 'center', title: '计划规模' },
                    { colspan: 2, align: 'center', title: '实物量' },
                    { align: 'center', rowspan: 2, field: 'Address', width: 150, title: '项目所在地（县/市/区）', edit: 'text' },
                    { colspan: 9, align: 'center', title: '项目前期工作' },
                    { colspan: 16, align: 'center', title: '工程前期阶段' },
                    { colspan: 7, align: 'center', title: '工程建设阶段' },
                    { colspan: 3, align: 'center', title: '总结评价阶段' },
                    { align: 'center', rowspan: 2, field: 'DynamicNum', width: 180, title: '可研批复动态投资（万元）', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'DemandNum', width: 180, title: ' 自开工至年底累计完成投资（万元） ', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'TotalNum', width: 180, title: '年度投资计划（万元）', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'PlanNum', width: 180, title: '年度预算需求计划（万元）', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'Progress', width: 200, title: ' 年底单项工程完成形象进度', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'Remark', width: 120, title: ' 备注', edit: 'text' },
                    { colspan: 10, align: 'center', title: '总结评价阶段' },
                    { align: 'center', rowspan: 2, field: 'Months', width: 120, title: ' 工期月数', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'WorkReady', width: 120, title: ' 开工准备', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'WorkSet', width: 120, title: ' 可研初设', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'WorkStart', width: 120, title: ' 开工初设', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'WorkBid', width: 120, title: ' 开工招标', edit: 'text' },
                    { align: 'center', rowspan: 2, field: 'WorkCheck', width: 120, title: ' 开工核准', edit: 'text' },
                    { align: 'center', rowspan: 2, fixed: 'right', width: 120, align: 'center', toolbar: '#bar', title: '操作' },
                ],
                [
                    { field: 'IsBegin', width: 120, title: '开工', templet: "#switch_IsBegin" },
                    { field: 'IsWork', width: 120, title: '投产', templet: "#switch_IsWork" },
                    { field: 'Vlength', width: 120, title: ' 线路长度', edit: 'text' },
                    { field: 'Volume', width: 120, title: '变电容量', edit: 'text' },
                    { field: 'CycleNum', width: 120, title: '线路回数', edit: 'text' },
                    { field: 'GroupNum', width: 120, title: '主变组数', edit: 'text' },

                    { field: 'Pre_fno', width: 140, title: '可研批复文号', edit: 'text' },
                    {
                        field: 'Pre_bdt', width: 120, title: '可研批复时间或计划', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Pre_bdt != undefined ? ('value="' + res.Pre_bdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    { field: 'Pre_yno', width: 120, title: '用地预审文号 ', edit: 'text' },
                    { field: 'Pre_sno', width: 200, title: '选址（选线）意见书批复文号', edit: 'text' },
                    { field: 'Pre_isable', width: 180, title: '用地指标是否落实', templet: "#switch_Pre_isable" },
                    { field: 'Pre_hno', width: 120, title: '核准文号', edit: 'text' },
                    {
                        field: 'Pre_hdt', width: 180, title: '核准批复时间或计划 ', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Pre_hdt != undefined ? ('value="' + res.Pre_hdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Pre_pdt', width: 150, title: '环评批复时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Pre_pdt != undefined ? ('value="' + res.Pre_pdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Pre_sdt', width: 150, title: '水保批复时间 ', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Pre_sdt != undefined ? ('value="' + res.Pre_sdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_zdt', width: 200, title: ' 设计招标计划申报截止时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_zdt != undefined ? ('value="' + res.Start_zdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_kdt', width: 150, title: '设计招标开标时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_kdt != undefined ? ('value="' + res.Start_kdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_sdt', width: 150, title: '初设评审时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_sdt != undefined ? ('value="' + res.Start_sdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_fdt', width: 150, title: '初设批复时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_fdt != undefined ? ('value="' + res.Start_fdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_ydt', width: 180, title: '施工图预算批复时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_ydt != undefined ? ('value="' + res.Start_ydt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_wdt', width: 200, title: '物资招标计划申报截止时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_wdt != undefined ? ('value="' + res.Start_wdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_bdt', width: 180, title: '物资招标开标时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_bdt != undefined ? ('value="' + res.Start_bdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_jdt', width: 180, title: '施工招标申报截止时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_jdt != undefined ? ('value="' + res.Start_jdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_gdt', width: 180, title: '施工招标开标时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_gdt != undefined ? ('value="' + res.Start_gdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_xdt', width: 200, title: '建设用地规划许可证取得时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_xdt != undefined ? ('value="' + res.Start_xdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_ldt', width: 150, title: '路径规划批复', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_ldt != undefined ? ('value="' + res.Start_ldt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_cdt', width: 300, title: '国有土地划拨决定书或建设用地批准书取得时间 ', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_cdt != undefined ? ('value="' + res.Start_cdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_hdt', width: 260, title: '国有土地使用不动产权证取得时间 ', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_hdt != undefined ? ('value="' + res.Start_hdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_hdt', width: 200, title: '建设工程规划许证取得时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_hdt != undefined ? ('value="' + res.Start_hdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_ddt', width: 250, title: '变电站消防设计审核（或备案）时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_ddt != undefined ? ('value="' + res.Start_ddt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Start_rdt', width: 250, title: '变电站四通一平/线路复测开始时间 ', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Start_rdt != undefined ? ('value="' + res.Start_rdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_bdt', width: 120, title: '开工时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_bdt != undefined ? ('value="' + res.Build_bdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_sdt', width: 180, title: '安装/组塔开始时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_sdt != undefined ? ('value="' + res.Build_sdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_xdt', width: 180, title: '调试/架线（敷设）开始时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_xdt != undefined ? ('value="' + res.Build_xdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_ydt', width: 180, title: '消防验收（备案）时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_ydt != undefined ? ('value="' + res.Build_ydt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_hdt', width: 180, title: ' 环保验收（如需）完成时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_hdt != undefined ? ('value="' + res.Build_hdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_cdt', width: 180, title: '水保验收（如需）完成时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_cdt != undefined ? ('value="' + res.Build_cdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Build_tdt', width: 120, title: '投产时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Build_tdt != undefined ? ('value="' + res.Build_tdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Finish_jdt', width: 180, title: '竣工结算完成时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Finish_jdt != undefined ? ('value="' + res.Finish_jdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Finish_fdt', width: 180, title: '竣工结算批复时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Finish_fdt != undefined ? ('value="' + res.Finish_fdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    {
                        field: 'Finish_zdt', width: 180, title: ' 创优自检完成时间', templet: function (res) {
                            return '<input type="text" autocomplete="off" '
                                + 'class="layui-input layui-input-date" '
                                + (res.Finish_zdt != undefined ? ('value="' + res.Finish_zdt + '"') : "")
                                + 'style="border:none;text-align:center;line-height:20px;height:30px">';
                        }
                    },
                    { field: 'Important_high', width: 120, title: ' 特高配套', templet: "#switch_Important_high" },
                    { field: 'Important_assort', width: 120, title: ' 500/220配套', templet: "#switch_Important_assort" },
                    { field: 'Important_strong', width: 120, title: '电网加强', templet: "#switch_Important_strong" },
                    { field: 'Important_iron', width: 120, title: '电铁配套', templet: "#switch_Important_iron" },
                    { field: 'Important_rail', width: 120, title: '跨越铁路', templet: "#switch_Important_rail" },
                    { field: 'Important_wind', width: 120, title: '风电送出', templet: "#switch_Important_wind" },
                    { field: 'Important_light', width: 120, title: ' 光伏送出', templet: "#switch_Important_light" },
                    { field: 'Important_give', width: 120, title: ' 电厂送出', templet: "#switch_Important_give" },
                    { field: 'Important_farmer', width: 120, title: ' 城农网专项', templet: "#switch_Important_farmer" },
                    { field: 'Important_summary', width: 120, title: ' 迎峰度夏', templet: "#switch_Important_summary" },
                ]
                ],
                page: false,
                done: function (res, curr, count) {
                    tableData = table.cache['dt'];
                    $('.layui-input-date').each(function () {
                        laydate.render({
                            elem: this,
                            format: 'yyyy-MM-dd',
                            type: 'date',
                            trigger: 'click',
                            theme: '#393D49',
                            done: function (value, date, endDate) {
                                var dom = data.elem;
                                $(dom).attr({ "value": value });
                                $($(dom).parent().parent()).attr({ "data-content": value });
                                var field = $(dom).parent().parent().attr("data-field");
                                var index = $(dom).parent().parent().parent().attr("data-index");
                                index = parseInt(index);
                                tableData[index][field] = value;
                            },
                            calendar: true,
                        });
                    });
                    $(".layui-table-main").find("tbody>tr").each(function (e) {
                        var $cr = $(this);
                        var selectArr = $cr.find('select');
                        var dataindex = $cr.attr("data-index");
                        dataindex = parseInt(dataindex);
                        var rowData = tableData[dataindex];

                        $.each(selectArr, function (index, value) {
                            var field = $($cr.find('select')[index]).attr("field");
                            var columnValue = rowData[field];
                            if (columnValue) {
                                var select = 'dd[lay-value=' + columnValue + ']';
                                $(this).siblings("div.layui-form-select").find('dl').find(select).click();
                            }
                        });
                    });
                },
            });

            //监听行工具事件
            table.on('tool(dt)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }
            });
        });

        form.on('switch(SwitchChangeData)', function (data) {
            var dom = data.elem;
            var val = this.checked ? "是" : "";

            var field = $(dom).parent().parent().attr("data-field");
            var index = $(dom).parent().parent().parent().attr("data-index");
            index = parseInt(index);
            tableData[index][field] = val;
        });

        form.on('select(ChangeDropData)', function (data) {
            var dom = data.elem;
            var val = data.value;
            var field = $(dom).parent().parent().attr("data-field");
            var index = $(dom).parent().parent().parent().attr("data-index");
            index = parseInt(index);
            tableData[index][field] = val;
        });
    }

    function SaveExcelData() {
        var checkStatus = table.checkStatus('dt');
        var data = checkStatus.data;

        if (data && data.length > 0) {
            planBatchStr = JSON.stringify(data);
            var ajax = {
                url: '/ProjectPlanInfo/BatchSave',
                type: 'POST',
                async: false,
                data: { planBatchStr: planBatchStr },
                dataType: "json",
                success: function (data) {
                    if (data && data.code == "1") {
                        result = data;
                    }
                    else {
                        layer.msg("保存失败！", 0);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            }
            $.ajax(ajax);
        }
    }

</script>

<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <label class="layui-form-label">选择文件：</label>
                <input type="text" name="excelFile" id="excelFile" class="layui-input" autocomplete="off" style="width:200px">

            </div>
            <div class="layui-inline">
                <button type="button" id="KUpLoad" style="display:none" value="上传"></button>
                <button type="button" id="btnFileUpLoad" class="layui-btn  btn-primary">上传</button>
                <button type="button" id="btnFileDownLoad" class="layui-btn  btn-primary">下载模板</button>
            </div>
        </div>
    </form>
</blockquote>

<script id="bar" type="text/html">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script id="switch_IsBegin" type="text/html">
    <input type="checkbox" name="IsBegin" value={{d.IsBegin | "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.IsBegin == '是' ? 'checked' : '' }}>
</script>
<script id="switch_IsWork" type="text/html">
    <input type="checkbox" name="IsWork" value={{d.IsWork| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.IsWork == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Pre_isable" type="text/html">
    <input type="checkbox" name="Pre_isable" value={{d.Pre_isable| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Pre_isable == '是' ? 'checked' : '' }}>
</script>


<script id="switch_Important_high" type="text/html">
    <input type="checkbox" name="Important_high" value={{d.Important_high | "空" }} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_high == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_assort" type="text/html">
    <input type="checkbox" name="Important_assort" value={{d.Important_assort| "空" }} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_assort == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_strong" type="text/html">
    <input type="checkbox" name="Important_strong" value={{d.Important_strong| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_strong == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_iron" type="text/html">
    <input type="checkbox" name="Important_iron" value={{d.Important_iron| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_iron == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_rail" type="text/html">
    <input type="checkbox" name="Important_rail" value={{d.Important_rail| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_rail == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_wind" type="text/html">
    <input type="checkbox" name="Important_wind" value={{d.Important_wind| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_wind == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_light" type="text/html">
    <input type="checkbox" name="Important_light" value={{d.Important_light| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_light == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_give" type="text/html">
    <input type="checkbox" name="Important_give" value={{d.Important_give| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_give == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_farmer" type="text/html">
    <input type="checkbox" name="Important_farmer" value={{d.Important_farmer| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_farmer == '是' ? 'checked' : '' }}>
</script>
<script id="switch_Important_summary" type="text/html">
    <input type="checkbox" name="Important_summary" value={{d.Important_summary| "空"}} lay-skin="switch" lay-filter="SwitchChangeData" lay-text="是|空" {{ d.Important_summary == '是' ? 'checked' : '' }}>
</script>

<script type="text/html" id="selectCatagory">
    <select lay-filter="ChangeDropData" lay-search field="Catagory">
        <option value="">请选择</option>
        <option value="常规工程">常规工程</option>
        <option value="整站改造">整站改造</option>
        <option value="地下变电站">地下变电站</option>
        <option value="隧道电缆">隧道电缆</option>
        <option value="综合管廊">综合管廊</option>
    </select>
</script>

<script type="text/html" id="selectCLevel">
    <select lay-filter="ChangeDropData" lay-search field="CLevel">
        <option value="">请选择</option>
        <option value="35">35</option>
        <option value="110">110</option>
        <option value="220">220</option>
        <option value="500">500</option>
    </select>
</script>

<script type="text/html" id="selectPType">
    <select lay-filter="ChangeDropData" lay-search field="PType">
        <option value="">请选择</option>
        <option value="变电站">变电站</option>
        <option value="开关站">开关站</option>
        <option value="间隔">间隔</option>
        <option value="架空线">架空线</option>
        <option value="架空线切改">架空线切改</option>
        <option value="陆上电缆">陆上电缆</option>
        <option value="陆上电缆切改">陆上电缆切改</option>
        <option value="水下电缆">水下电缆</option>
        <option value="水下电缆切改">水下电缆切改</option>
        <option value="混合线路">混合线路</option>
        <option value="串联补偿站">串联补偿站</option>
        <option value="静止无功补偿工程">静止无功补偿工程</option>
    </select>
</script>

<script type="text/html" id="selectNature">
    <select lay-filter="ChangeDropData" lay-search field="Nature">
        <option value="">请选择</option>
        <option value="新增">新增</option>
        <option value="扩建">扩建</option>
    </select>
</script>

<table class="layui-hide" id="dt" lay-filter="dt"></table>



